body {
    /* Remove the margin on the body element to eliminate the space between the navigation bar and the content area. */
    margin: 0;
    padding-top: 70px;
    font-family: "Candara";
}
  

/*-------------------------------------[ Top Navigation Bar ]--------------------------------------*/

/* Style the inside of the navigation bar (the imaginary area where the elements are). */
#navigation-container {
    width: 80%;
    margin: 0 auto;
    height: 70px;
}

/* Style the navigation bar itself. */
.navigation-bar {
    position: fixed;
    top: 0;
    background-color: #c4f2ea;
    height: 70px;
    width: 100%;
    text-align: center;
}

/* Style the navbar's logo image. */
.navigation-bar img {
    float: left;
    height: 70px;
}

/* Style the navigation bar's "list". */
.navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
}

/* Style the navigation bar's list items. */
.navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
}

/* Style the navigation bar's links. */
.navigation-bar li a {
    color: black;
    font-size: 27px;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
}

/* Style the navigation bar's links when the mouse hovers over them. */
.navigation-bar li a:hover {
    background-color: #b3e0d9;
    border-radius: 10px;
    color: white;
}

/* Style the navigation bar's link when it's the current page. */
.navigation-bar li #current_page {
    background-color: #01987f;
    border-radius: 10px;
    color: white;
}


/*-------------------------------------[ Explanation Area ]--------------------------------------*/
.explanation {
    font-size: 20px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-bottom: 20px;
    background-color: #c4f2ea;
}


/*-------------------------------------[ Incoming Requests' List ]--------------------------------------*/
.incoming_requests_container {
    flex: 1;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.incoming_requests_container ul {
    list-style: none;
}
 
.incoming_requests_container ul li {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
    display: block;
    cursor: pointer;
} 


/*-------------------------------------[ Request Details ]--------------------------------------*/
.request_details_container {
    flex: 1;
    padding-left: 2%;
    box-sizing: border-box;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}


/*-------------------------------------[ Other ]--------------------------------------*/
.content_container {
    display: flex;
    max-width: 100%;
}
